sudo: false
language: rust
# cache: cargo # blocked by https://github.com/brson/rust-skeptic/issues/18
rust:
  - beta
  - stable
  - nightly
  - 1.40.0
matrix:
  include:
    - rust: stable
      env: JOB=style_check
  allow_failures:
    - env: JOB=style_check
  fast_finish: true
env:
  matrix:
  - JOB=test CARGO_DEFAULT_FEATURES="" CARGO_FEATURES=""
  - JOB=test CARGO_DEFAULT_FEATURES="" CARGO_FEATURES="skeptic_tests"
  - JOB=test CARGO_DEFAULT_FEATURES="--no-default-features" CARGO_FEATURES=""
  - JOB=test CARGO_DEFAULT_FEATURES="--no-default-features" CARGO_FEATURES="skeptic_tests"
  - JOB=test CARGO_DEFAULT_FEATURES="" CARGO_FEATURES="clippy"
  global:
  - RUST_BACKTRACE=1
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
  - PKGNAME=derive_builder
  # encrypted github token for doc+coveralls upload
  - secure: "oGshXdNEX+SK3O6cwGsMN9TGjfAtXXDFxBa5Ti38m8cNR2DdYikV5BMgsPQdWj8K58m2H3hiU3jWGI1d3W94ELlKXRcAJg39x10TPAHd+L89zSk48JorZejgKVARJuW3qDAO/xbi+bc0/Q1sgq9h7zBxAWfD7PJ3Lu/k20SRmoghDC+ufHr6bElkAZM388WD1q8eZgITBQWXDBYy8id85TxxagK0Xq/ZjDhCNwcz9A9rO8QrX886nAr8liL54M+XZ35+wwiw+5s3Vz5Oa/sKnVg33VKIjDwOs3YZP4+egFFEtEVVlvAm+NmzWIYzOi8VJbNmV00c3qhSRkEwCOGR41m4Nl/bmhMu6iL9epvqdaouElkg74dV6qqeYq/jGOJrklHuUmyPvXbTYukpNt6a9nqDu8IPrLkQOjpKnKQtmazdOyajiqwUiv6/GXb6tarSzMzsXqM+l/wWplFZkwaDvWR9m5OgilohpFYdhrbJNUd1zffgfwvYFBNVXnkRScwrVBpVfAz420w2s/YfONfl/DtrHt1U/O+gDQ92AGc6foOqCJoqup6uasWkgRbPMGm5hl6n7JALGYjNB60BLi7okItITosoprknXUfLoPzrpnMRi9ScEjEXUBliKxBXnPyMKAZur39PfKGeIasOPwQIPo9xhpWTsOUcuux9l4eihX0="
addons:
  apt:
    packages:
    # travis-cargo dependencies
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
before_script: |
  # load travis cargo
  # - https://github.com/huonw/travis-cargo
  pip install 'travis-cargo<0.2' --user &&
  export PATH="$HOME/.local/bin:$HOME/.cargo/bin:$PATH"
  # share build artifacts:
  export CARGO_TARGET_DIR="$TRAVIS_BUILD_DIR/target"
  if [ "$JOB" = "style_check" ]; then
    rustup component add clippy rustfmt
  fi
script: |
  case "$JOB" in
    test)
      # We have to consider the following limitations of cargo in rustc 1.15:
      # - no support for virtual worskpaces, instead we have to cd into a crate.
      # - cargo build/doc does not support `--all`, luckily the
      #   `derive_builder` crate will implicitly build/doc the
      #   `derive_builder_core` crate too.
      commands=(
        "cd derive_builder_core  && travis-cargo build -- $CARGO_DEFAULT_FEATURES --features \"$CARGO_FEATURES\""
        "cd derive_builder_core  && travis-cargo test -- --all --no-fail-fast $CARGO_DEFAULT_FEATURES --features \"$CARGO_FEATURES\""
        "cd derive_builder_core  && travis-cargo doc"
        "cargo clean"
        "cd derive_builder_macro && travis-cargo build -- $CARGO_DEFAULT_FEATURES --features \"$CARGO_FEATURES\""
        "cd derive_builder_macro && travis-cargo test -- --all --no-fail-fast $CARGO_DEFAULT_FEATURES --features \"$CARGO_FEATURES\""
        "cd derive_builder_macro && travis-cargo doc"
        "cargo clean"
        "cd derive_builder       && travis-cargo build -- $CARGO_DEFAULT_FEATURES --features \"$CARGO_FEATURES\""
        "cd derive_builder       && travis-cargo test -- --all --no-fail-fast $CARGO_DEFAULT_FEATURES --features \"$CARGO_FEATURES\""
        "cd derive_builder       && travis-cargo doc"
      )
      ;;
    style_check)
      commands=(
        "cd derive_builder_core  && cargo clippy"
        "cd derive_builder_macro && cargo clippy"
        "cd derive_builder       && cargo clippy"
        "cd derive_builder_core  && cargo fmt -- --check"
        "cd derive_builder_macro && cargo fmt -- --check"
        "cd derive_builder       && cargo fmt -- --check"
      )
      ;;
    *)
      exit 1
      ;;
  esac
  dev/travis-run-all.sh "${commands[@]}"
after_success: |
  # upload the documentation from the build with stable (automatically only
  # runs on the master branch, not individual PRs)
  travis-cargo --only stable doc-upload -- --features "$CARGO_FEATURES"

deploy:
  on:
    tags: true
    branch: master
    rust: nightly
    condition: "$JOB == test"
  provider: script
  script: dev/deploy.sh
  skip_cleanup: true
