[package]
name = "derive_builder"
version = "0.5.1"
authors = ["Colin Kiegel <kiegel@gmx.de>",
           "Pascal Hertleif <killercup@gmail.com>",
           "Jan-Erik Rediger <janerik@fnordig.de>",
           "Ted Driggs <ted.driggs@outlook.com>"]

description = "Rust macro to automatically implement the builder pattern for arbitrary structs."
repository = "https://github.com/colin-kiegel/rust-derive-builder"
documentation = "https://docs.rs/derive_builder"

license = "MIT/Apache-2.0"
categories = ["development-tools", "rust-patterns"]
keywords = ["derive", "macro", "builder", "setter", "struct"]
readme = "README.md"
build = "build/mod.rs"

[badges]
travis-ci = { repository = "colin-kiegel/rust-derive-builder" }

[lib]
proc-macro = true

[features]
logging = [ "log", "env_logger", "derive_builder_core/logging" ]
skeptic_tests = ["skeptic"]
nightlytests = ["compiletest_rs"]

[dependencies]
darling = "0.6.0"
proc-macro2 = "0.3"
quote = "0.5"
log = { version = "0.3", optional = true }
env_logger = { version = "0.4", optional = true }
derive_builder_core = { version = "0.2", path = "../derive_builder_core" }
skeptic = { version = "0.9", optional = true }
compiletest_rs = { version = "0.3.3", optional = true }

[dependencies.syn]
version = "0.13.10"
features = ["full", "extra-traits"]

[build-dependencies]
skeptic = { version = "0.9", optional = true }
log = { version = "0.3", optional = true }
env_logger = { version = "0.4", optional = true }

[dev-dependencies]
pretty_assertions = "0.2"
